    .card {
        background: rgba(30, 47, 70, 0.6);
        border-radius: 2vw;
        color: white;
        transition: transform 0.2s;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;


        .head {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;


            .image {
                max-width: 200px;
                width: 35%;
            }

            h2 {
                font-weight: 700;
                padding-top: 15px;
                padding-bottom: 30px;
            }
        }

        p {
            font-size: 1.5em;
            font-weight: 700;
            text-align: center;
        }

        &:hover {
            transform: scale(1.05);
        }
    }