.card {
    background: rgba(30, 47, 70, 0.6);
    border-radius: 2vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: transform .2s;

    .image {
        width: 35%;

        p {
            font-size: 3vw;
            font-weight: 700;
            padding-top: 2vh;
        }
    }

    p {
        font-size: 1.7vw;
        font-weight: 700;
        text-align: center;
        padding-bottom: 1vh;
    }

    &:hover {
        transform: scale(1.05);
    }
}