.navbar {
  width: 100%;
  background-color: #1e2f46;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;

  a {
    text-decoration: none;
    color: white;
    z-index: 10;
    padding: 32px;
  }

  .other {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    padding: 32px;

    cursor: default;

    &:hover {
      .dropdown {
        visibility: visible;
      }
    }

    .dropdown {
      visibility: hidden;
      z-index: -5;
      text-align: center;
      background-color: #1e2f46;
      display: flex;
      flex-direction: column;
      position: absolute;
      box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
      padding-top: 17rem;

    }
  }
}